---
title: "clov3r.com | <3 your site"
---
<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1 class="animated fadeInDown"><%= data.global.site_name %></h1>
      <p class="animated fadeInUp"><%= data.global.hero_intro %></p>
    </div>
  </div>
</div>

<%= partial 'partials/content_tabs_plain' %>
